<div class="row">
  <div class="col-md-12">
    <form ng-submit="sendSearch(query)" name="searchForm" >
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar por..." ng-model="query" ng-pattern="/^[a-zA-Z0-9' ']*$/">        
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-disabled="searchForm.$invalid">Buscar</button>
        </span>
      </div>
      <div class="clearfix">
        <div class="alert alert-danger" ng-show="searchForm.$invalid">Usar caracteres alfanuméricos solamente por favor</div>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row scroll-wrapper">
  <div class="clearfix" scrolled="loadMore()">
    <div class="col-sm-6 col-md-4 results-cards" ng-repeat="item in searchResults" ng-mouseover="creditsData(item.id, item.media_type)" ng-click="linkItem(item.id, item.media_type)">
      <div class="thumbnail" ng-click="artistLink(item.name)">
        <div class="image text-center" >
          <img ng-src="{{configImages.base_url}}{{configImages.poster_sizes[3]}}{{item.backdrop_path}}" ng-if="item.backdrop_path" class="img-responsive">
          <div ng-if="!item.backdrop_path" class="default-image">
            <img ng-src="/images/{{item.media_type}}_icon.svg" />
          </div>
        </div>
        <div class="caption text-center">
          <h3>{{item.title}}{{item.name}}</h3>
        </div>
        <div ng-if="item.id === cast.id" class="item-data">
          <h4>{{item.title}}{{item.name}} <small>{{item.media_type}}</small></h4>
          <h5 ng-show="cast.cast.length > 0">Actores:</h5>
          <div ng-repeat="character in cast.cast | limitTo:3" class="cast" >
            {{character.name}}
          </div>
          <div class="rating">{{item.vote_average}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more-icon text-center row" ng-show="loadMoreIcon">
    <object type='image/svg+xml' data='/images/load_more.svg'></object>
  </div>
</div>
<div ng-if="noMoreResults" class="text-center no-more-results">{{noMoreResults}}</div>